In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [22]:
## exercise 6.1
df = pd.DataFrame(data={"features":[2.4,3.6,4.5,7.8], "labels":[1,2,3,4]})

In [23]:
df

   features  labels
0       2.4       1
1       3.6       2
2       4.5       3
3       7.8       4

In [24]:
## exercise 6.2
df = df.rename(columns={"labels":"label"})

In [25]:
df

   features  label
0       2.4      1
1       3.6      2
2       4.5      3
3       7.8      4

In [7]:
## exercise 6.3
iris = sns.load_dataset('iris')

In [10]:
iris.sort_values("species", ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [12]:
iris.value_counts("species").to_frame()

            count
species
setosa         50
versicolor     50
virginica      50

In [ ]:
## exercise 6.5
len(iris[(iris.petal_length <= 1.4)|(iris.petal_length >= 1.6)])

In [27]:
## exercise 6.6
iris["min"] = iris.apply(lambda x: min(x.petal_length,x.petal_width), axis=1)

In [28]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min
0           5.1          3.5           1.4          0.2  setosa  0.2
1           4.9          3.0           1.4          0.2  setosa  0.2
2           4.7          3.2           1.3          0.2  setosa  0.2
3           4.6          3.1           1.5          0.2  setosa  0.2
4           5.0          3.6           1.4          0.2  setosa  0.2

In [29]:
sum(iris.petal_length <= iris.petal_width)

0

In [32]:
iris[["petal_length", "petal_width"]].idxmin(axis=1).count()

150

In [39]:
## exercise 6.7
pd.pivot_table(iris, 
               values = ["sepal_width", "petal_width"],
               columns = ["species"],
               aggfunc={np.median, np.mean})

species             setosa  versicolor  virginica
petal_width mean     0.246       1.326      2.026
            median   0.200       1.300      2.000
sepal_width mean     3.428       2.770      2.974
            median   3.400       2.800      3.000

In [40]:
pd.pivot_table(iris, 
               values = ["sepal_width", "petal_width"],
               columns = ["species"],
               aggfunc=[np.median, np.mean])

            median                        mean
species     setosa versicolor virginica setosa versicolor virginica
petal_width    0.2        1.3       2.0  0.246      1.326     2.026
sepal_width    3.4        2.8       3.0  3.428      2.770     2.974

In [41]:
pd.pivot_table(iris, 
               values = ["sepal_width", "petal_width"],
               columns = ["species"],
               aggfunc=[np.median, np.mean]).T

                   petal_width  sepal_width
       species
median setosa            0.200        3.400
       versicolor        1.300        2.800
       virginica         2.000        3.000
mean   setosa            0.246        3.428
       versicolor        1.326        2.770
       virginica         2.026        2.974