In [2]:
import pandas as pd
import numpy as np

In [4]:
x = [2, 5, 4, 7, 3]
w = [.8, 1.2, .65, 1.45, .3]
df = pd.DataFrame({'x':x, 'w':w})
df

   x     w
0  2  0.80
1  5  1.20
2  4  0.65
3  7  1.45
4  3  0.30

In [5]:
(lambda x: np.average(x.x, weights=x.w))(df)

4.829545454545455