# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. To receive full credit, make sure you address every part of the problem, make sure your document is formatted in a clean and professional way, and make sure the notebook is converted to a PDF and submitted to Gradescope according to these instructions: https://docs.google.com/document/d/1B9ZkK7n_hP_hQ9lIGm31Web4S6hGnwMz9Ad7EWm3N50/edit?usp=sharing.

**This assignment requires you to include tables and images.** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

To put an image into a markdown cell in a Jupyter notebook, save the image as a .png or .jpg file in the same folder where you have saved your Jupyter notebook, and use markdown code that looks like this:
```
![](imagefile.png)
```
where you will need to replace `imagefile.png` with the name of your own image file. Alternatively, if you want to control the size of the image in your notebook, type the following code on its own line in the markdown cell:
```
<img src="imagefile.png" width="600">
```
Here the `width` option allows you to control the size of the image by making this number larger or smaller. When converting the notebook to ![PDF format](https://docs.google.com/document/d/1B9ZkK7n_hP_hQ9lIGm31Web4S6hGnwMz9Ad7EWm3N50/edit?usp=sharing), make sure that the images display correctly in the PDF prior to submitting to Gradescope.

### Problem 0
Import the following libraries, load the `.env` file where you store your passwords (see the notebook for module 4 for details), and turn off the error tracebacks to make errors easier to read:

In [1]:
# !pip install wget

In [2]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/env/livecode5") # change to the directory where your .env file is
dotenv.load_dotenv() # register the .env file where passwords are stored
sys.tracebacklimit = 0 # turn off the error tracebacks

### Problem 1 
Suppose that we have (fake) data on people who are currently being hospitalized. Here are five records in the data:

|patient|conditions|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|-|
|Nkemdilim Arendonk|[Pneumonia, Diabetes]|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|Raniero Coumans|[Appendicitis, Crohn's disease]|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|Mizuki Debenham|[Kidney Cancer]|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|Zoë De Witt|[Cardiomyopathy, Diabetes, Sciatica]|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|Bonnie Hooper|[Pancreatic Cancer, Sciatica]|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

The columns in this dataset are:

* **patient**: Patient name
* **conditions**: A list of the conditions that are relevant to the patient's hospitalization
* **dateofbirth**: The patient's date of birth
* **age**: The patient's age
* **sex**: The patient's sex
* **attendingphysician**: The name of the attending physician for the patient
* **APmedschool**: The name of the school where the attending physician got a medical degree
* **APyearsexperiece**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospitallocation**: The location of the hospital

For this problem, assume that 

1. Some people in the data share the same name, but no two people in the data share the same name and date of birth.

2. Every attending physician is employed at only one hospital.

3. Every hospital exists at only one location.

4. There's more than one doctor with the same name, but there are no doctors with the same name that work at the same hospital.

#### Part a 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of first normal form. [2 points]

In [3]:
data = pd.read_csv("C:/Users/jacqu/OneDrive/Documents/MSDS/datasets/lab6data - Sheet1.csv")
data["conditions"] = data["conditions"].str.split(",")
data

,patient,conditions,dateofbirth,age,sex,attendingphysician,APmedschool,APyearsexperiece,hospital,hospitallocation
0,Nkemdilim Arendonk,"[Pneumonia, Diabetes]",2/21/1962,58,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
1,Raniero Coumans,"[Appendicitis, Crohn's disease]",8/15/1990,29,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
2,Mizuki Debenham,[Kidney Cancer],3/12/1977,43,F,Lewis Conti,North Carolina State University,8,Houston Methodist Hospital,"Houston, TX"
3,Zoë De Witt,"[Cardiomyopathy, Diabetes, Sciatica]",11/23/1947,72,F,Theresa Dahlmans,Lake Erie College of Medicine,17,Mount Sinai Hospital,"New York, NY"
4,Bonnie Hooper,"[Pancreatic Cancer, Sciatica]",7/4/1951,68,F,Steven Garbutt,Ohio State University,36,UCSF Medical Center,"San Francisco, CA"

In [4]:
## primary key: name+DOB
## df.explode("conditions").reset_index(drop=True)
data1 = data.explode("conditions").reset_index(drop=True)
## FNF
data1.head()

,patient,conditions,dateofbirth,age,sex,attendingphysician,APmedschool,APyearsexperiece,hospital,hospitallocation
0,Nkemdilim Arendonk,Pneumonia,2/21/1962,58,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
1,Nkemdilim Arendonk,Diabetes,2/21/1962,58,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
2,Raniero Coumans,Appendicitis,8/15/1990,29,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
3,Raniero Coumans,Crohn's disease,8/15/1990,29,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
4,Mizuki Debenham,Kidney Cancer,3/12/1977,43,F,Lewis Conti,North Carolina State University,8,Houston Methodist Hospital,"Houston, TX"

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

In [5]:
data1.head()

,patient,conditions,dateofbirth,age,sex,attendingphysician,APmedschool,APyearsexperiece,hospital,hospitallocation
0,Nkemdilim Arendonk,Pneumonia,2/21/1962,58,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
1,Nkemdilim Arendonk,Diabetes,2/21/1962,58,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
2,Raniero Coumans,Appendicitis,8/15/1990,29,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
3,Raniero Coumans,Crohn's disease,8/15/1990,29,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
4,Mizuki Debenham,Kidney Cancer,3/12/1977,43,F,Lewis Conti,North Carolina State University,8,Houston Methodist Hospital,"Houston, TX"

In [6]:
data2 = data1[["patient", "conditions", "dateofbirth", "sex", "attendingphysician", 
             "APmedschool", "APyearsexperiece", "hospital", "hospitallocation"]].drop_duplicates()
data2.head()

,patient,conditions,dateofbirth,sex,attendingphysician,APmedschool,APyearsexperiece,hospital,hospitallocation
0,Nkemdilim Arendonk,Pneumonia,2/21/1962,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
1,Nkemdilim Arendonk,Diabetes,2/21/1962,M,Earnest Caro,University of California (Irvine),14,UPMC Presbyterian Shadyside,"Pittsburgh, PA"
2,Raniero Coumans,Appendicitis,8/15/1990,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
3,Raniero Coumans,Crohn's disease,8/15/1990,M,Pamela English,University of Michigan,29,Northwestern Memorial Hospital,"Chicago, IL"
4,Mizuki Debenham,Kidney Cancer,3/12/1977,F,Lewis Conti,North Carolina State University,8,Houston Methodist Hospital,"Houston, TX"

#### Part c 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of third normal form. 

Note that the patient's age is a derived attribute from the patient's date of birth, but please don't make an extra data table just for age. In principle, if we are worried about data inconsistencies we can simply remove age from the database and calculate it when needed from date of birth. But for this exercise, leave age in the table and ignore its dependency with date of birth. [2 points]

In [7]:
## patient and DOB is primary key for this df
patients = data1[["patient", "dateofbirth", "conditions", 
                  "age", "sex", "attendingphysician", "hospital"]].drop_duplicates()
patients.head()

,patient,dateofbirth,conditions,age,sex,attendingphysician,hospital
0,Nkemdilim Arendonk,2/21/1962,Pneumonia,58,M,Earnest Caro,UPMC Presbyterian Shadyside
1,Nkemdilim Arendonk,2/21/1962,Diabetes,58,M,Earnest Caro,UPMC Presbyterian Shadyside
2,Raniero Coumans,8/15/1990,Appendicitis,29,M,Pamela English,Northwestern Memorial Hospital
3,Raniero Coumans,8/15/1990,Crohn's disease,29,M,Pamela English,Northwestern Memorial Hospital
4,Mizuki Debenham,3/12/1977,Kidney Cancer,43,F,Lewis Conti,Houston Methodist Hospital

In [8]:
## physician name and hospital name is parimary key for this df
physicians = data1[["attendingphysician", "hospital", 
                    "APmedschool", "APyearsexperiece"]].drop_duplicates()
physicians.head(5)

,attendingphysician,hospital,APmedschool,APyearsexperiece
0,Earnest Caro,UPMC Presbyterian Shadyside,University of California (Irvine),14
2,Pamela English,Northwestern Memorial Hospital,University of Michigan,29
4,Lewis Conti,Houston Methodist Hospital,North Carolina State University,8
5,Theresa Dahlmans,Mount Sinai Hospital,Lake Erie College of Medicine,17
8,Steven Garbutt,UCSF Medical Center,Ohio State University,36

In [9]:
## hospital name is a primary key for this df
hospitals = data1[["hospital", "hospitallocation"]].drop_duplicates()
hospitals.head()

                         hospital   hospitallocation
0     UPMC Presbyterian Shadyside     Pittsburgh, PA
2  Northwestern Memorial Hospital        Chicago, IL
4      Houston Methodist Hospital        Houston, TX
5            Mount Sinai Hospital       New York, NY
8             UCSF Medical Center  San Francisco, CA

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using draw.io: https://app.diagrams.net/. The symbols used for both Chen's notation and IE notation are on the left-hand toolbar.

#### Part a 
Create a conceptual ER diagram using Chen's notation. [2 points]

#### Part b 
Create a logical ER diagram using Chen's notation. [2 points]

#### Part c 
Create a conceptual ER diagram using IE notation. [2 points]

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL. 

To get the data, first set the working directory the folder on your computer to the folder where you want the CSV files to be. This should be the same folder where you saved our lab notebook and all associated files. Then change this line of code to the address for that folder:

In [10]:
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/datasets")

The following code of code will download the CSV files. Please run this as is:

In [11]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [12]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

In [13]:
albums = sqlite3.connect("albums.db")

In [14]:
reviews.to_sql("reviews", albums, index=False, if_exists="replace")
artists.to_sql("artists", albums, index=False, if_exists="replace")
content.to_sql("content", albums, index=False, if_exists="replace")
genres.to_sql("genres", albums, index=False, if_exists="replace")
labels.to_sql("labels", albums, index=False, if_exists="replace")
years.to_sql("years", albums, index=False, if_exists="replace")

19108

In [15]:
album_cursor = albums.cursor()

In [16]:
album_cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
adf = album_cursor.fetchall()
colnames = [x[0] for x in album_cursor.description]
pd.DataFrame(adf, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [17]:
myquery = '''
SELECT title, artist, score
FROM reviews
WHERE score=10
'''
pd.read_sql_query(myquery, albums)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [18]:
albums.commit()

In [19]:
albums.close()

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

In [20]:
# !pip install mysql-connector-python
import mysql.connector

In [21]:
import dotenv as de

In [22]:
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/env/MySQL")
de.load_dotenv()

True

In [23]:
mysql2 = os.getenv("mysql")

In [24]:
dbserver = mysql.connector.connect(
    user='root', 
    passwd=mysql2, 
    host="localhost"
)

In [25]:
cursor = dbserver.cursor()

In [26]:
try:
    cursor.execute("CREATE DATABASE albumdb")
except:
    cursor.execute("DROP DATABASE albumdb")
    cursor.execute("CREATE DATABASE albumdb")

In [27]:
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()
databases

[('albumdb',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [28]:
albumdb = mysql.connector.connect(
    user='root', 
    passwd=mysql2, 
    host="localhost",
    database="albumdb"
)

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost/{db}"
                       .format(user="root", pw=mysql2, db="albumdb"))

In [31]:
reviews.to_sql("reviews", con = engine, index=False, chunksize=1000, if_exists = 'replace')
artists.to_sql("artists", con = engine, index=False, chunksize=1000, if_exists = 'replace')
content.to_sql("content", con = engine, index=False, chunksize=1000, if_exists = 'replace')
genres.to_sql("genres", con = engine, index=False, chunksize=1000, if_exists = 'replace')
labels.to_sql("labels", con = engine, index=False, chunksize=1000, if_exists = 'replace')
years.to_sql("years", con = engine, index=False, chunksize=1000, if_exists = 'replace')

19108

In [32]:
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", con=engine)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [33]:
dbserver.commit()

In [34]:
dbserver.close()

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

In [35]:
import psycopg2

In [36]:
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/env/postgress")
de.load_dotenv()
postgres = os.getenv("postgres")

In [37]:
dbserver = psycopg2.connect(
    user='postgres', 
    password=postgres, 
    host="localhost"
)
dbserver.autocommit = True

In [38]:
cursor = dbserver.cursor()

In [39]:
try:
    cursor.execute("CREATE DATABASE albumsdb")
except:
    cursor.execute("DROP DATABASE albumsdb")
    cursor.execute("CREATE DATABASE albumsdb")

In [40]:
albumsdb = psycopg2.connect(
    user='postgres', 
    password=postgres, 
    host="localhost",
    database="albumsdb"
)

In [41]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="postgres", pw=postgres, db="albumsdb"))

In [42]:
reviews.to_sql("reviews", con = engine, index=False, chunksize=1000, if_exists = 'replace')
artists.to_sql("artists", con = engine, index=False, chunksize=1000, if_exists = 'replace')
content.to_sql("content", con = engine, index=False, chunksize=1000, if_exists = 'replace')
genres.to_sql("genres", con = engine, index=False, chunksize=1000, if_exists = 'replace')
labels.to_sql("labels", con = engine, index=False, chunksize=1000, if_exists = 'replace')
years.to_sql("years", con = engine, index=False, chunksize=1000, if_exists = 'replace')

19108

In [43]:
cursor = albumsdb.cursor()

In [44]:
cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
df = cursor.fetchall()
colnames = [x[0] for x in cursor.description]
pd.DataFrame(df, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [45]:
dbserver.commit()

In [46]:
dbserver.close()

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [47]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '70',
 'text': 'Siege of Jerusalem: Titus, son of emperor Vespasian, storms the Fortress of Antonia north of the Temple Mount. The Roman army is drawn into street fights with the Zealots.',
 'html': '70 - <a href="https://wikipedia.org/wiki/Siege_of_Jerusalem_(AD_70)" class="mw-redirect" title="Siege of Jerusalem (AD 70)">Siege of Jerusalem</a>: <a href="https://wikipedia.org/wiki/Titus" title="Titus">Titus</a>, son of emperor <a href="https://wikipedia.org/wiki/Vespasian" title="Vespasian">Vespasian</a>, storms the <a href="https://wikipedia.org/wiki/Antonia_Fortress" title="Antonia Fortress">Fortress of Antonia</a> north of the <a href="https://wikipedia.org/wiki/Temple_Mount" title="Temple Mount">Temple Mount</a>. The <a href="https://wikipedia.org/wiki/Roman_army" title="Roman army">Roman army</a> is drawn into street fights with the <a href="https://wikipedia.org/wiki/Zealots_(Judea)" class="mw-redirect" title="Zealots (Judea)">Zealots</a>.',
 'no_year_html': '<a href="https://wikipedia.org/wiki/Siege_of_Jerusalem_(AD_70)" class="mw-redirect" title="Siege of Jerusalem (AD 70)">Siege of Jerusalem</a>: <a href="https://wikipedia.org/wiki/Titus" title="Titus">Titus</a>, son of emperor <a href="https://wikipedia.org/wiki/Vespasian" title="Vespasian">Vespasian</a>, storms the <a href="https://wikipedia.org/wiki/Antonia_Fortress" title="Antonia Fortress">Fortress of Antonia</a> north of the <a href="https://wikipedia.org/wiki/Temple_Mount" title="Temple Mount">Temple Mount</a>. The <a href="https://wikipedia.org/wiki/Roman_army" title="Roman army">Roman army</a> is drawn into street fights with the <a href="https://wikipedia.org/wiki/Zealots_(Judea)" class="mw-redirect" title="Zealots (Judea)">Zealots</a>.',
 'links': [{'title': 'Siege of Jerusalem (AD 70)',
   'link': 'https://wikipedia.org/wiki/Siege_of_Jerusalem_(AD_70)'},
  {'title': 'Titus', 'link': 'https://wikipedia.org/wiki/Titus'},
  {'title': 'Vespasian', 'link': 'https://wikipedia.org/wiki/Vespasian'},
  {'title': 'Antonia Fortress',
   'link': 'https://wikipedia.org/wiki/Antonia_Fortress'},
  {'title': 'Temple Mount', 'link': 'https://wikipedia.org/wiki/Temple_Mount'},
  {'title': 'Roman army', 'link': 'https://wikipedia.org/wiki/Roman_army'},
  {'title': 'Zealots (Judea)',
   'link': 'https://wikipedia.org/wiki/Zealots_(Judea)'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [2 points]

In [48]:
# pip install pymongo

In [49]:
import pymongo

In [50]:
myclient = pymongo.MongoClient("mongodb://localhost/")

In [51]:
history = myclient["history"]

In [52]:
today = history["today"]

In [53]:
collectionlist = history.list_collection_names()
if "today" in collectionlist:
    history.today.drop()

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it, Timeout: 30s, Topology Description: <TopologyDescription id: 64b99908bc89f8967b001ff8, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it')>]>

In [ ]:
allevents = today.insert_many(events)

In [ ]:
myquery = {
    "text":{
        "$regex": 'Virginia'
    }
}

In [ ]:
## display the output of the query
myevent = today.find(myquery) 
for word in myevent:
    print(word)

In [ ]:
## Display the count of the number of documents that match this query
today.count_documents(myquery)

In [ ]:
## generate a JSON formatted variable containing the output
from bson.json_util import dumps, loads
## convert the query to plain text
va_text = dumps(today.find(myquery))
## register the text as JSON formatted data
va_records = loads(va_text)
va_records[0]

In [ ]:
myclient.close()