In [1]:
import pandas as pd
import numpy as np
import random as rn

In [346]:
class Dice:
    df  = pd.DataFrame({"faces":[],
                        "weights":[]}).set_index("faces")
    
    def __init__(self, n, w=1):
        if not isinstance(n, np.ndarray):
            raise TypeError("Hey, you need to use an numpy.array!")
        if len(set(n)) != len(n):
            raise ValueError("Hey, you've got some repeats in your array!")
        self.df  = pd.DataFrame({"faces":n,
                       "weights":w}).set_index("faces")
        
    def change_weight(self, face, weight):
        if face not in self.df.index:
            raise IndexError("Hey, this face value is not in the current record of faces!")
        if not isinstance(float(weight), float):
            raise TypeError("Hey, your weight value is not a number!")
        self.df.loc[face] = weight
        
    def rolldie(self, r=1):
        myrolls = rn.choices(self.df.index, weights=self.df.weights, k=r)
        return myrolls
    
    def currentdie(self):
        return self.df

In [349]:
myobj = Dice(np.array([1,2,3,4]))

In [350]:
myobj2 = Dice(np.array([1,2,3,4]))

In [351]:
myobj3 = Dice(np.array([1,2,3,4]))

In [352]:
myobj4 = Dice(np.array([1,2,3,4]))

In [388]:
myobj5 = Dice(np.array([1,2,3,4]))

In [389]:
ml = [myobj, myobj2, myobj3, myobj4, myobj5]

In [390]:
class Game:
    mylist = []
    df_rolls = pd.DataFrame({"Roll Number":[],
                           "Dice Number":[]}).set_index("Roll Number")
    
    def __init__(self, mylist):
        face1 = set(mylist[0].df.index)
        for each_obj in mylist:
            if not isinstance(each_obj, Dice):
                raise TypeError("Hey, one or more of your inputs is not a Dice object!")
            if not face1 == set(each_obj.df.index):
                raise ValueError("Hey, your inputs need to all have the same faces!")
        self.mylist = mylist
    
    def play(self, n):
        roll_results = sum([x.rolldie(n) for x in self.mylist], [])
        die_num = np.repeat(np.arange(1,len(self.mylist)+1),n)
        roll_num = np.tile(np.arange(1,n+1), len(self.mylist))
        
        df_rolls = pd.DataFrame({"Roll Number": roll_num, "Dice Number": die_num, "y": roll_results}, 
                        index=roll_num)
        self.df_rolls = df_rolls.pivot(index="Roll Number", columns="Dice Number", values="y")
        
    def recent_play(self, narrow=False):
        if not isinstance(narrow, bool):
            raise ValueError("Hey, this method takes 0 or 1 arguements. If 1 arguement, \
            it must be a boolean value!")
        if narrow==False:
            return self.df_rolls
        else:
            return pd.melt(self.df_rolls, value_name="Roll Results", ignore_index=False)\
        .set_index([pd.melt(self.df_rolls, value_name="Roll Results", ignore_index=False).index, "Dice Number"])

In [391]:
set(ml[0].df.index) == set(ml[1].df.index)

True

In [392]:
mg = Game(ml)

In [393]:
mg.play(10)

In [394]:
mg.df_rolls

Dice Number  1  2  3  4  5
Roll Number
1            4  1  1  4  3
2            3  4  2  1  4
3            1  4  4  3  1
4            2  1  1  3  4
5            1  3  2  2  3
6            2  4  1  4  3
7            2  2  4  1  4
8            4  4  1  1  4
9            1  4  1  4  2
10           3  4  2  2  1

In [439]:
class Analyzer:
    
    def __init__(self, mygame):
        if not isinstance(mygame, Game):
                raise ValueError("Hey, your input is not a Game object!")
        self.mygame = mygame
        
    def jackpot(self):
        jackpot_results = self.mygame.df_rolls.iloc[np.where\
        (self.mygame.df_rolls.eq(self.mygame.df_rolls.iloc[:, 0], axis=0).all(1))]
        return jackpot_results
    
    def face_counts(self):
        new_df = self.mygame.df_rolls.apply(pd.Series.value_counts, axis=1).fillna(0)
        new_df = newdf.rename_axis("Face Number", axis="columns")
        return new_df
    
    def combo_count(self):
        combo_df = self.mygame.df_rolls.value_counts().to_frame(name="Combo Count")
        return combo_df

In [411]:
ma = Analyzer(mg)

In [412]:
ma.jackpot()

Empty DataFrame
Columns: [1, 2, 3, 4, 5]
Index: []

In [413]:
mg.df_rolls

Dice Number  1  2  3  4  5
Roll Number
1            4  1  1  4  3
2            3  4  2  1  4
3            1  4  4  3  1
4            2  1  1  3  4
5            1  3  2  2  3
6            2  4  1  4  3
7            2  2  4  1  4
8            4  4  1  1  4
9            1  4  1  4  2
10           3  4  2  2  1

In [414]:
ma.face_counts()

Face Number    1    2    3    4
Roll Number
1            2.0  0.0  1.0  2.0
2            1.0  1.0  1.0  2.0
3            2.0  0.0  1.0  2.0
4            2.0  1.0  1.0  1.0
5            1.0  2.0  2.0  0.0
6            1.0  1.0  1.0  2.0
7            1.0  2.0  0.0  2.0
8            2.0  0.0  0.0  3.0
9            2.0  1.0  0.0  2.0
10           1.0  2.0  1.0  1.0

In [438]:
mg.df_rolls.value_counts().to_frame(name="Combo Count")

           Combo Count
1 2 3 4 5
1 3 2 2 3            1
  4 1 4 2            1
    4 3 1            1
2 1 1 3 4            1
  2 4 1 4            1
  4 1 4 3            1
3 4 2 1 4            1
      2 1            1
4 1 1 4 3            1
  4 1 1 4            1