In [1]:
import configparser
config = configparser.ConfigParser()

In [2]:
import os
cd = os.getcwd()
print(cd)

C:\Users\jacqu\OneDrive\Documents\MSDS-at-UVA-2023\DS5001\final_project_files

In [3]:
config.read("../final_project_files/env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

In [4]:
data_home, output_dir

('C:\\Users\\jacqu\\OneDrive\\Documents\\MSDS-at-UVA-2023\\DS5001\\final_project_files\\data',
 'C:\\Users\\jacqu\\OneDrive\\Documents\\MSDS-at-UVA-2023\\DS5001\\final_project_files\\output')

In [5]:
from glob import glob

In [6]:
txt_files = glob(f"{data_home}/*/*.txt", recursive=True)
# glob("/Users/*/data/*.txt", recursive=True)

In [7]:
series_label = os.listdir(data_home)
print(series_label)

['ASOIAF', 'Last_Dragon_Chronicles', 'Lord_of_the_Rings', 'Warrior_Cats']

In [8]:
import pandas as pd
import numpy as np

### ASOIAF: A Game of Thrones

In [9]:
print(txt_files[0])

C:\Users\jacqu\OneDrive\Documents\MSDS-at-UVA-2023\DS5001\final_project_files\data\ASOIAF\01_AGameofThrones.txt

In [10]:
print(txt_files[0].split('\\')[-2])

ASOIAF

In [11]:
pd.set_option('display.max_colwidth', None)

In [12]:
#books = pd.DataFrame()
#for each_doc in txt_files[:3]:
lines = open(txt_files[0], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
text.line_str = text.line_str.str.strip()
text = text[~text.line_str.str.contains(r"Table of Contents")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
print(text.iloc[135:145])

              line_str
line_num
135       House Tyrell
136        ●Chapter 50
137                 \n
138                 \n
139                 \n
141                 \n
142                 \n
143                 \n
144                 \n
145                 \n

In [13]:
clip_pats = [
    r"^\s*PROLOGUE\s*$",
    r"^\s*HOUSE BARATHEON\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
print(text.loc[pat_a])
print(text.loc[pat_b])
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[0] - 1
text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

          line_str
line_num
147       PROLOGUE
                 line_str
line_num
49196     HOUSE BARATHEON

('PROLOGUE', 'HOUSE BARATHEON')

In [14]:
text = text.loc[line_a : line_b]

In [15]:
text.sample(10)

                                                                                         line_str
line_num
20010                                                                                          \n
20305                                                                                          \n
22124                                                                                          \n
42922         out on a woven mat. “No,” he muttered in the Common Tongue. “No, no.” It was all he
30697                Grand Maester Pycelle gave Ned a stricken look as he shuffled from the room.
15152     and Bran was as light as a bundle of rags, but the stairs were steep and dark, and Robb
35638                                                                                          \n
13045         face of the Wall. The thickets of ironwood and sentinel and oak that had once grown
1682                                                                                           \n
15145     “Down here, might be that’s true, Maester,” Yoren said, “but up past the Wall, who’s to

In [16]:
text.head()

                                                                                      line_str
line_num
147                                                                                   PROLOGUE
148                                                                                         \n
149                                                                                         \n
150       We should start back,” Gared urged as the woods began to grow dark around them. “The
151                                                                                         \n

In [17]:
text.tail()

         line_str
line_num
49190          \n
49192          \n
49193          \n
49194          \n
49195          \n

In [18]:
chap_pat = r"^\s*[A-Z]+\s*$"
chap_lines = text.line_str.str.match(chap_pat, case=False)
text.loc[chap_lines]

          line_str
line_num
147       PROLOGUE
830           BRAN
1380       CATELYN
1738      DAENERYS
2387        EDDARD
...            ...
45745     DAENERYS
46449       TYRION
47044          JON
47868      CATELYN
48645     DAENERYS

[73 rows x 1 columns]

In [19]:
text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
text.loc[chap_lines].head()

          line_str  chap_num
line_num
147       PROLOGUE       1.0
830           BRAN       2.0
1380       CATELYN       3.0
1738      DAENERYS       4.0
2387        EDDARD       5.0

In [20]:
text.chap_num = text.chap_num.ffill()
text.sample(10)

,line_str,chap_num
line_num,,
13322,"Fat Tom was at his post, guarding the door to the Tower of the Hand. He blinked when",23.0
44230,"When the bell ceased to toll, a quiet slowly settled across the great plaza, and her father lifted his head and began to speak, his voice so thin and weak she could scarcely make",66.0
34392,you today. On the morrow you can help me write that letter.”,53.0
11963,Littlefinger.,21.0
47588,"Jon glimpsed the towers of Castle Black ahead of them, dark against the pale immensity",71.0
30616,“Come . . . closer.”,48.0
12812,etched in moonlight. You could see how stark and empty it was from up here;,22.0
41491,"Bronn rose, cat-quick and cat-graceful, turning his sword in his hand. “You’ll have me",63.0
31021,dragging frightened children from their beds.”,48.0
45838,\n,69.0

In [21]:
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
LINES.sample(10)

,line_str,chap_num
line_num,,
28389,they had thought they were being dragged here to name Lord Tywin a red-handed,44
26556,\n,41
890,\n,2
1274,\n,2
28739,coming back from her dancing lesson.,45
24378,"“We saw Uncle Benjen when the king came to visit,” Robb pointed out. “Jon will visit",38
9195,\n,16
22080,your strength.”,35
41543,\n,63
1850,"And perhaps the dragon did remember, but Dany could not. She had never seen this",4

In [22]:
OHCO = ['series','book_title','chap_num', 'para_num', 'sent_num', 'token_num'] #index names

In [23]:
CHAPS = LINES.groupby(OHCO[2:3]).line_str.apply(lambda x: ' '.join(x))\
                                                .to_frame('chap_str')
CHAPS.chap_str = CHAPS.chap_str.str.strip()
# CHAPS.head(1)

In [24]:
para_pat = r'\n \n+'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[0].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
PARAS.head(5)

                                                                                                                                                                                                       para_str
book_title        chap_num para_num
01_AGameofThrones 1        0                                                                        We should start back,” Gared urged as the woods began to grow dark around them. “The  wildlings are dead.”
                           1                                                                                                 “Do the dead frighten you?” Ser Waymar Royce asked with just the hint of a smile.
                           2          Gared did not rise to the bait. He was an old man, past fifty, and he had seen the  lordlings come and go. “Dead is dead,” he said. “We have no business with the dead.”
                           3                                                                                                                        “Are they dead?” Royce asked softly. “What proof have we?”
                           4                                                                                              “Will saw them,” Gared said. “If he says they are dead, that’s proof enough for me.”

In [25]:
import nltk

In [26]:
SENTS = PARAS.para_str.apply(nltk.sent_tokenize).to_frame('sent_str').explode('sent_str').reset_index()
SENTS['sent_num'] = SENTS.groupby(OHCO[1:4]).cumcount() + 1
SENTS.set_index(OHCO[1:5], inplace=True)

In [27]:
SENTS.head()

                                                                                                                        sent_str
book_title        chap_num para_num sent_num
01_AGameofThrones 1        0        1            We should start back,” Gared urged as the woods began to grow dark around them.
                                    2                                                                 “The  wildlings are dead.”
                           1        1          “Do the dead frighten you?” Ser Waymar Royce asked with just the hint of a smile.
                           2        1                                                            Gared did not rise to the bait.
                                    2                 He was an old man, past fifty, and he had seen the  lordlings come and go.

In [28]:
TOKENS = SENTS.sent_str.apply(nltk.word_tokenize).to_frame('token_str').explode('token_str').reset_index()
TOKENS['token_num'] = TOKENS.groupby(OHCO[1:5]).cumcount() + 1
TOKENS.set_index(OHCO[1:6], inplace=True)
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()

In [29]:
TOKENS.head()

                                                       token_str term_str
book_title        chap_num para_num sent_num token_num
01_AGameofThrones 1        0        1        1                We       we
                                             2            should   should
                                             3             start    start
                                             4              back     back
                                             5                 ,

In [30]:
asoiaf_1 = TOKENS

In [31]:
import re

### ASOIAF: A Clash of Kings

In [32]:
#books = pd.DataFrame()
#for each_doc in txt_files[:3]:
lines = open(txt_files[1], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
text.line_str = text.line_str.str.strip()
# text = text[~text.line_str.str.contains(r"Table of Contents")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
# print(text.sample(10))

clip_pats = [
    r"^\s*PROLOGUE\s*$",
    r"^\s*APPENDIX—THE KINGS AND THEIR COURTS\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
# print(text.loc[pat_a])
# print(text.loc[pat_b])
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[0] - 1
# text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

text = text.loc[line_a : line_b]
pattern = r'\b([1-9]|[1-9][0-9]|([1-5][0-9]{2})|600)\b'
def replace_thing(text):
    return re.sub(pattern, "", text)
text.line_str = text.line_str.apply(replace_thing)
# text.loc[32506]

chap_pat = r"^\s*(PROLOGUE|CHAPTER)\s*"
chap_lines = text.line_str.str.match(chap_pat, case=False)
# text.loc[chap_lines]

text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
# text.loc[chap_lines].head()

text.chap_num = text.chap_num.ffill()
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')

In [33]:
CHAPS = LINES.groupby(OHCO[2:3]).line_str.apply(lambda x: ' '.join(x))\
                                                .to_frame('chap_str')
CHAPS.chap_str = CHAPS.chap_str.str.strip()
pattern = r"\n \n+"
CHAPS.chap_str = CHAPS.chap_str.apply(replace_thing)
# CHAPS.head(1)

para_pat = r'\n'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[1].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
# PARAS.head(5)
PARAS.iloc[3:9]

SENTS = PARAS.para_str.apply(nltk.sent_tokenize).to_frame('sent_str').explode('sent_str').reset_index()
SENTS['sent_num'] = SENTS.groupby(OHCO[1:4]).cumcount() + 1
SENTS.set_index(OHCO[1:5], inplace=True)
SENTS.sample(2)

                                                                                                                                            sent_str
book_title       chap_num para_num sent_num
02_AClashofKings 35       78       4         A torch had been thrust down into a crevice, its flames flying pale orange banners when the gusts came.
                 15       14       6                                                                                  What could scare them so much?

In [34]:
TOKENS = SENTS.sent_str.apply(nltk.word_tokenize).to_frame('token_str').explode('token_str').reset_index()
TOKENS['token_num'] = TOKENS.groupby(OHCO[1:5]).cumcount() + 1
TOKENS.set_index(OHCO[1:6], inplace=True)
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()
TOKENS.head()

                                                      token_str term_str
book_title       chap_num para_num sent_num token_num
02_AClashofKings 1        0        1        1               The      the
                                            2             comet    comet
                                            3                 ’
                                            4                 s        s
                                            5              tail     tail

In [35]:
asoiaf_2 = TOKENS

### ASOIAF: A Storm of Swords

In [44]:
#books = pd.DataFrame()
#for each_doc in txt_files[:3]:
lines = open(txt_files[2], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
text.line_str = text.line_str.str.strip()
# text = text[~text.line_str.str.match(r"\n")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
# print(text.sample(10))

clip_pats = [
    r"^\s*PROLOGUE\s*$",
    r"^\s*Appendix\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
# print(text.loc[pat_a])
# print(text.loc[pat_b])
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[0] - 1
# text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

text = text.loc[line_a : line_b]
# text.sample(10)

chap_pat = r"^\s*([A-Z]+|Epilogue)\s*$"
chap_lines = text.line_str.str.match(chap_pat)
# text.loc[chap_lines]

text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
# text.loc[chap_lines].head()

text.chap_num = text.chap_num.ffill()
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
# LINES.head(10)

In [60]:
CHAPS = LINES.groupby(OHCO[2:3]).line_str.apply(lambda x: ' '.join(x))\
                                                .to_frame('chap_str')
CHAPS.chap_str = CHAPS.chap_str.str.strip()
# CHAPS.head(1)

para_pat = r'\n'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
# PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[2].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
# PARAS.head(5)

SENTS = PARAS.para_str.apply(nltk.sent_tokenize).to_frame('sent_str').explode('sent_str').reset_index()
SENTS['sent_num'] = SENTS.groupby(OHCO[1:4]).cumcount() + 1
SENTS.set_index(OHCO[1:5], inplace=True)
#SENTS.sample(2)
SENTS = SENTS[SENTS.sent_str.isna()==False]
# SENTS.sent_str.isna().sum()

In [61]:
TOKENS = SENTS.sent_str.apply(nltk.word_tokenize).to_frame('token_str').explode('token_str').reset_index()
TOKENS['token_num'] = TOKENS.groupby(OHCO[1:5]).cumcount() + 1
TOKENS.set_index(OHCO[1:6], inplace=True)
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()
TOKENS.head()

                                                       token_str term_str
book_title        chap_num para_num sent_num token_num
03_AStormofSwords 1        0        1        1               The      the
                                             2               day      day
                                             3               was      was
                                             4              grey     grey
                                             5               and      and

In [62]:
asoiaf_3 = TOKENS

### ASOIAF: A Feast for Crows

In [117]:
lines = open(txt_files[3], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
# text.line_str = text.line_str.str.strip()
# text = text[~text.line_str.str.match(r"\n")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
# print(text.head(10))

In [118]:
clip_pats = [
    r"^\s*PROLOGUE\s*$",
    r"^\s*MEANWHILE, BACK ON THE WALL...\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
# print(text.loc[pat_a])
# print(text.loc[pat_b])
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[0] - 1
# text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

text = text.loc[line_a : line_b]
# text.sample(10)

chap_pat = r"^\s*([A-Z\s]+|THE KRAKEN’S DAUGHTER)$"
chap_lines = text.line_str.str.match(chap_pat)
# text.loc[chap_lines].shape

text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
# text.loc[chap_lines].head()

text.chap_num = text.chap_num.ffill()
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
LINES['line_str'] = LINES.line_str.str.replace(r"\.\n", ".\n\n\n", regex=True)
LINES['line_str'] = LINES.line_str.str.replace(r"\”\n", "\"\n\n\n", regex=True)
# LINES.head(10)

In [123]:
CHAPS = LINES.groupby(OHCO[2:3]).line_str.apply(lambda x: ' '.join(x))\
                                                .to_frame('chap_str')
CHAPS.chap_str = CHAPS.chap_str.str.strip()
# CHAPS.head(1)

para_pat = r'\n\n+'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[3].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
# PARAS.head(5)

SENTS = PARAS.para_str.apply(nltk.sent_tokenize).to_frame('sent_str').explode('sent_str').reset_index()
SENTS['sent_num'] = SENTS.groupby(OHCO[1:4]).cumcount() + 1
SENTS.set_index(OHCO[1:5], inplace=True)
SENTS.sample(2)
# SENTS = SENTS[SENTS.sent_str.isna()==False]
# SENTS.sent_str.isna().sum()

                                                                                                 sent_str
book_title        chap_num para_num sent_num
04_AFeastforCrows 43       25       2         “I am looking for a girl,” she whispered, between swallows.
                  41       99       1             “That was my mistake, and it has proved a grievous one.

In [124]:
TOKENS = SENTS.sent_str.apply(nltk.word_tokenize).to_frame('token_str').explode('token_str').reset_index()
TOKENS['token_num'] = TOKENS.groupby(OHCO[1:5]).cumcount() + 1
TOKENS.set_index(OHCO[1:6], inplace=True)
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()
TOKENS.head()

                                                       token_str term_str
book_title        chap_num para_num sent_num token_num
04_AFeastforCrows 1        0        1        1                 “
                                             2           Dragons  dragons
                                             3                 ,
                                             4                 ”
                                             5              said     said

In [125]:
asoiaf_4 = TOKENS

### ASOIAF: A Dance with Dragons

In [130]:
lines = open(txt_files[4], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
# text.line_str = text.line_str.str.strip()
# text = text[~text.line_str.str.match(r"\n")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
# print(text.head(10))

In [131]:
clip_pats = [
    r"^\s*PROLOGUE\s*$",
    r"^\s*WESTEROS\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
# print(text.loc[pat_a])
# print(text.loc[pat_b])
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[0] - 1
# text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

text = text.loc[line_a : line_b]
# text.sample(10)

chap_pat = r"^\s*([A-Z\s]+|THE QUEEN’S HAND)$"
chap_lines = text.line_str.str.match(chap_pat)
# text.loc[chap_lines].shape

text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
# text.loc[chap_lines].head()

text.chap_num = text.chap_num.ffill()
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
LINES['line_str'] = LINES.line_str.str.replace(r"\.\n", ".\n\n\n", regex=True)
LINES['line_str'] = LINES.line_str.str.replace(r"\”\n", "\"\n\n\n", regex=True)
# LINES.head(10)

In [136]:
CHAPS = LINES.groupby(OHCO[2:3]).line_str.apply(lambda x: ' '.join(x))\
                                                .to_frame('chap_str')
CHAPS.chap_str = CHAPS.chap_str.str.strip()
# CHAPS.head(1)

para_pat = r'\n\n+'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[4].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
# PARAS.head(5)

SENTS = PARAS.para_str.apply(nltk.sent_tokenize).to_frame('sent_str').explode('sent_str').reset_index()
SENTS['sent_num'] = SENTS.groupby(OHCO[1:4]).cumcount() + 1
SENTS.set_index(OHCO[1:5], inplace=True)
SENTS.sample(2)
# SENTS = SENTS[SENTS.sent_str.isna()==False]
# SENTS.sent_str.isna().sum()

                                                                                                                                                                              sent_str
book_title           chap_num para_num sent_num
05_ADancewithDragons 421      4        1                                                                                                  “A bath?” Reek felt a clenching in his guts.
                     249      1        1          The only dry road through the Neck was the causeway, and the towers of Moat Cailin plugged its northern end like a cork in a bottle.

In [137]:
TOKENS = SENTS.sent_str.apply(nltk.word_tokenize).to_frame('token_str').explode('token_str').reset_index()
TOKENS['token_num'] = TOKENS.groupby(OHCO[1:5]).cumcount() + 1
TOKENS.set_index(OHCO[1:6], inplace=True)
TOKENS['term_str'] = TOKENS.token_str.replace(r'[\W_]+', '', regex=True).str.lower()
TOKENS.head()

                                                          token_str term_str
book_title           chap_num para_num sent_num token_num
05_ADancewithDragons 1        0        1        1               The      the
                                                2             night    night
                                                3               was      was
                                                4              rank     rank
                                                5              with     with

In [138]:
asoiaf_5 = TOKENS

### Warrior Cats: Into the Wild

In [223]:
lines = open(txt_files[13], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
text.line_str = text.line_str.str.strip()
text = text[~text.line_str.str.contains(r"PMWarriorsintotheWild")]
# text = text[~text.line_str.str.match(r"\n")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
# print(text.head(10))

clip_pats = [
    r"^\s*PROLOGUE\s*$",
    r"^\s*About the Author\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
# print(text.loc[pat_a])
# print(text.loc[pat_b].tail(1))
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[-1] - 1
# text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

text = text.loc[line_a : line_b]
# text.sample(10)

chap_pat = r"^\s*CHAPTER\s*\d*$"
chap_lines = text.line_str.str.match(chap_pat)
# text.loc[chap_lines]

            line_str
line_num
997        CHAPTER 1
1388       CHAPTER 2
1576       CHAPTER 3
2096       CHAPTER 4
2604       CHAPTER 5
3111       CHAPTER 6
3440       CHAPTER 7
3702       CHAPTER 8
4154       CHAPTER 9
4730      CHAPTER 10
5111      CHAPTER 11
5424      CHAPTER 12
5936      CHAPTER 13
6322      CHAPTER 14
6643      CHAPTER 15
6836      CHAPTER 16
7209      CHAPTER 17
7478      CHAPTER 18
7800      CHAPTER 19
8119      CHAPTER 20
8567      CHAPTER 21
8955      CHAPTER 22
9209      CHAPTER 23
9464      CHAPTER 24
9725      CHAPTER 25

In [ ]:

text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
# text.loc[chap_lines].head()

text.chap_num = text.chap_num.ffill()
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
LINES['line_str'] = LINES.line_str.str.replace(r"\.\n", ".\n\n\n", regex=True)
LINES['line_str'] = LINES.line_str.str.replace(r"\”\n", "\"\n\n\n", regex=True)
# LINES.head(10)

### Dragon Chronicles: The Fire Within

In [193]:
lines = open(txt_files[5], 'r', encoding='utf-8').readlines()
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
# text.line_str = text.line_str.str.strip()
# text = text[~text.line_str.str.match(r"\n")]
text['line_str'].replace('', '\n', inplace=True)
# text.dropna(subset=['line_str'], inplace=True)
# print(text.head(10))

clip_pats = [
    r"^\s*¢ PART ONE ¢\s*$",
    r"^\s*ABouT THE AUTHOR\s*$"
]
# finding where the pattern is
pat_a = text.line_str.str.match(clip_pats[0])
pat_b = text.line_str.str.match(clip_pats[1])
# print(text.loc[pat_a])
# print(text.loc[pat_b])
# finding the line where the pattern is
line_a = text.loc[pat_a].index[0]
line_b = text.loc[pat_b].index[0] - 1
# text._get_value(line_a, 'line_str'), text._get_value(line_b+1, 'line_str')

text = text.loc[line_a : line_b]
# text.sample(10)

chap = [
    "WELCOME TO WAYWARD CRESCENT \n",
    "SETTLING IN \n",
    "MEET MR. BACON \n",
    "DAVID UNPACKS \n",
    "UNUSUAL THINGS \n",
    "A VERY SPECIAL DRAGON \n",
    "A VISIT TO THE LIBRARY \n",
    "GREENFINGERS GEORGE \n",
    "THE WISHING FOUNTAIN \n",
    "INSPIRATION \n",
    "SOMETHING TRAPPY \n",
    "IN THE ATTIC \n",
    "TO CATCH A SQUIRREL \n",
    "GOTCHA! \n",
    "SIGHTING \n",
    "BONNINGTON DISAPPEARS \n",
    "BIRTHDAY IDEAS \n",
    "THE WRONG SQUIRREL \n",
    "SQUIRREL IN THE HOUSE \n",
    "A VERY SPECIAL PRESENT \n",
    "THE TRUTH ABOUT THE NUTBEAST \n",
    "IN MR. BACON’S GARDEN \n",
    "THE LAST DRAGON IN THE WORLD \n",
    "SEEKING GAWAIN \n",
    "DRAGON POX \n",
    "WRITER’S BLOCK \n",
    "DO NOT ‘DISTURB’ \n",
    "CONKER FOUND \n",
    "THE WILDLIFE HOSPITAL \n",
    "OH, SOPHIE \n",
    "DECISION TIME \n",
    "BYE-BYE, CONKER \n",
    "HELLO, GRUFFEN \n",
    "SNOOP \n",
    "THE FINAL WORDS \n",
    "THE SPOTTING GAME \n",
    "NATURE’S WAY \n",
    "DAVID RETURNS \n",
    "THE FIRE TEAR \n",
    "KILLING GADZOOKS \n"
] 
chap_lines = text.line_str.str.upper().isin(chap)
# print(text.loc[chap_lines].shape)
# print(len(chap))

text.loc[chap_lines, 'chap_num'] = [i+1 for i in range(text.loc[chap_lines].shape[0])]
# text.loc[chap_lines].head()

text.chap_num = text.chap_num.ffill()
LINES = text.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
LINES['line_str'] = LINES.line_str.str.replace(r"\.\n", ".\n\n\n", regex=True)
LINES['line_str'] = LINES.line_str.str.replace(r"\”\n", "\"\n\n\n", regex=True)
# LINES.head(10)

In [194]:
CHAPS = LINES.groupby(OHCO[2:3]).line_str.apply(lambda x: ' '.join(x))\
                                                .to_frame('chap_str')
CHAPS.chap_str = CHAPS.chap_str.str.strip()
CHAPS.head(1)

para_pat = r'\n \n+'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[4].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
# PARAS.head(5)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   chap_str
chap_num
1         We, here we are,” Mrs. Pennykettle said, pausing by the door of \n \n \n the room she had for rent. She clasped her hands together and \n smiled. “Officially, it’s our dining room, but we always eat in the \n kitchen these days.” \n \n \n The young man beside her nodded politely and patiently adjusted \n his shoulder bag. “Lovely. Erm, shall we take a look ...?” \n \n \n “It used to be our junk room, really,” said a voice. \n Mrs. Pennykettle clucked like a hen. \n \n \n The visitor turned. A young girl was lolling in the kitchen \n doorway. She was dressed in jeans and a sloppy top and had wet \n grass sticking to the heels of her sneakers. “All our junk’s in the attic \n now.” \n \n \n “And where have you been?” Mrs. Pennykettle said. \n “In the garden,” said the girl, “looking for Conker.” \n \n \n “Conkers?” the young man queried. “Aren’t you a week or two \n early for them?” \n \n \n “Not ers,” said the girl, “er.” \n The visitor furrowed his brow. \n \n \n Mrs. Pennykettle sighed and did the introductions: “David, this is \n Lucy, my daughter. ’'m afraid she comes as part of the package. \n Lucy, this is David. He’s here to see the room.” \n \n \n Lucy chewed a wisp of her straw-colored hair and slowly looked \n the visitor up and down. \n \n Her mother tried again: “We did the best we could with the room. \n There’s a table in the corner, with a study lamp, of course, and a \n \n \n wardrobe we bought from a secondhand shop. The bed isn’t great, \n but you should be all right if you try to avoid the loose spring in the \n middle.” \n \n \n “Mom?” \n “What?” \n \n \n “Why don’t you stop twittering and show him?” With a huff, Lucy \n stomped down the hall to join them. “She’s not always like this,” she \n said to David. “It’s because we’ve never had a tenant before.” Before \n her mother could “twitter” in protest, Lucy reached out and pushed \n the door open. David smiled graciously and stepped inside. The \n fresh smell of lavender wafted through the room, mingled with the \n peaceful tinkle of wind chimes. Everything was perfect, exactly as \n described. Except ... \n \n \n “What’s that?” David pointed to a bulge in the bed. \n \n \n Elizabeth Pennykettle groaned with embarrassment. She swept \n across the room and dived beneath the folds of the red patterned \n blanket. \n \n \n “That’s Bonnington, our cat,” Lucy said, grinning. “He likes \n getting under things — newspapers, blankets, all sorts of stuff. Mom \n says he’s always getting under her feet.” \n \n \n David smiled and put down his bag. “Bonnington. That’s a really \n good name for a cat.” \n \n \n Lucy nodded in agreement. “Mom named him after a mountain \n climber. I don’t know why; he couldn’t climb a beanbag. Well, he \n could, but we don’t have one. He mistakes the sound of the beans for \n cat litter, then he poops on there instead of in his box.” \n \n \n “Lovely,” said David, glancing anxiously at the blanket. \n \n \n With a rake of claws against fresh bed linen, Mrs. Pennykettle \n emerged clutching a brown tabby cat. Her curls of red hair, now in \n total disarray, resembled a rather bedraggled mop. She grimaced in \n apology, plopped Bonnington on the windowsill, and bundled him \n ungracefully into the garden. \n \n \n David moved the conversation on. “Are there buses to the college \n from here?” \n \n \n “Loads,” said Lucy. \n \n \n “Three an hour,” her mother confirmed, hastily replumping her \n hair. “And there’s room in the shed for a bike, if you have one. If \n you were stuck, you could always have a lift into town in my car — \n as long as you don’t mind sharing with the dragons.” \n \n \n “Oh yes,” said David, raising a finger. His mind floated back to \n the wording on the postcard in the newsstand window: MUST LIKE \n CATS AND CHILDREN AND ... \n \n \n “Like him.” Lucy pointed to a shelf above a sealed-off fireplace. \n Sitting at its center was a small, clay dragon, unlike any that David \n had ever seen. It wasn’t a fearsome, fire-breathing monster, the sort \n of dragon that might capture medieval maidens. Nor was it a cutesy, \n cartoon sort of thing. There was a fiery pride in its oval-shaped eyes \n as if it had a sense of its own importance and knew it had a definite \n place in the world. Its tall slim body was painted green with \n turquoise hints at the edges of its scales. It was sitting erect on two \n flat feet and an arrow-shaped tail that swung back on itself in a \n single loop. Four ridged wings (two large, two small) fanned out \n from its back and shoulders. A set of spiky, flaglike scales ran the \n entire length of its spine. \n \n \n David picked it up — and very nearly dropped it. “It’s warm,” he \n said, blinking in surprise. \n \n “That’s because —” \n \n “It’s been in the sun too long,” said Mrs. Pennykettle, quickly \n cutting her daughter off. She lifted the dragon out of David’s hands \n \n \n and rested it gently back on the shelf. A cone of sunlight fell across \n it. \n \n \n “There are loads of dragons in our house,” said Lucy, a bubble of \n excitement in her voice. \n \n \n David smiled and touched a finger to the dragon’s snout. For one \n strange moment he thought he could detect a layer of ash on the \n \n \n wide, flared nostrils. He ran a thumb across the glaze and decided it \n was dust. “Do you collect them?” \n \n \n Lucy shook her ponytail. “We make them.” \n “I make them,” said her mother. \n \n \n “Ym learning,” said Lucy. “Pennykettle Pots and Crafts. We’re \n famous. Mom sells them at the market on Tuesday and Thursday \n and Saturday afternoons. When there’s a craft fair at Scrubbley \n Garden Center she takes some there. Lots of people buy them.” \n \n \n “T bet,” said David, with a nod of admiration. “Do you make them \n here?” \n \n \n Mrs. Pennykettle pointed at the ceiling. “I have a small studio in \n one of the bedrooms.” \n \n \n “Tt’s called the Dragons’ Den,” Lucy said mysteriously. She put her \n hands behind her back and swung her shoulders. “You’re not \n allowed to enter.” \n \n “Lucy, don’t tease,” her mother chided. Turning to David again \n she said, “Ill gladly show you around once you’ve settled in — well, \n if you decide to take the room, that is.” \n \n David ran a hand through his mop of brown hair. Dragons. It was \n certainly different from his last place, where all you got were \n spiders and the occasional mouse. “It’s perfect,” he said. “Just what \n I want. If you and your dragons will have me, Mrs. Pennykettle, I’d \n like to move in right away.” \n \n “Call me Liz,” she said, holding out a hand. “We’d love for you to \n stay. Wouldn’t we, Lucy?” \n \n \n Lucy wiggled her nose. “That depends — on the other thing.” \n “Other thing?” said Liz. “What other thing?” \n Lucy smiled directly at David and said, “Do you like—?”

In [ ]:
para_pat = r'\n\n+'
PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[2:4]
PARAS['para_str'] = PARAS.para_str.str.replace('\n ', ' ')
# PARAS['series'] = txt_files[0].split('\\')[-2]
PARAS['book_title'] = txt_files[4].split('\\')[-1].split('.txt')[0]
PARAS = PARAS.reset_index().set_index(OHCO[1:4])
# PARAS.head(5)

SENTS = PARAS.para_str.apply(nltk.sent_tokenize).to_frame('sent_str').explode('sent_str').reset_index()
SENTS['sent_num'] = SENTS.groupby(OHCO[1:4]).cumcount() + 1
SENTS.set_index(OHCO[1:5], inplace=True)
SENTS.sample(2)
# SENTS = SENTS[SENTS.sent_str.isna()==False]
# SENTS.sent_str.isna().sum()