In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/datasets")

In [3]:
data = pd.read_csv("data100k.csv")

In [5]:
data.head(2).T

,0,1
person_id,102090000000110,343221000000125
HearingDate,2019-02-28,2009-12-07
CodeSection,A.46.2-862,B.46.2-301
codesection,covered elsewhere,covered elsewhere
ChargeType,Misdemeanor,Misdemeanor
chargetype,Misdemeanor,Misdemeanor
Class,1,1
DispositionCode,Guilty,Guilty
disposition,Conviction,Conviction
Plea,NaN,NaN
Race,Black(Non-Hispanic),Black(Non-Hispanic)
Sex,Male,Female
fips,25,540
convictions,True,True
arrests,False,False
felony10,False,False
sevenyear,False,True
tenyear,False,True
within7,True,False
within10,True,False
class1_2,False,False
class3_4,False,False
expungable,Automatic (pending),Not eligible
old_expungable,False,False
expungable_no_lifetimelimit,Automatic (pending),Not eligible
reason,Conviction of misdemeanor charges listed in 19...,Conviction of misdemeanor charges that are not...
sameday,False,False
lifetime,False,False

In [7]:
data["Race"].value_counts()

Race
White Caucasian(Non-Hispanic)                  114421
Black(Non-Hispanic)                             80173
White Caucasian (Non-Hispanic)                  41679
Black (Non-Hispanic)                            33254
Hispanic                                         9319
White                                            3527
Other(Includes Not Applicable.. Unknown)         3452
Asian Or Pacific Islander                        2787
Black                                            2200
MISSING                                          1022
Unknown (Includes Not Applicable.. Unknown)       785
Other (Includes Not Applicable.. Unknown)         615
American Indian                                   302
Unknown                                            54
Asian or Pacific Islander                           7
American Indian Or Alaskan Native                   1
Name: count, dtype: int64

In [9]:
data["Race"].unique()

array(['Black(Non-Hispanic)', 'Hispanic', 'White Caucasian(Non-Hispanic)',
       'MISSING', 'Asian Or Pacific Islander', 'Black (Non-Hispanic)',
       'White Caucasian (Non-Hispanic)',
       'Other(Includes Not Applicable.. Unknown)',
       'Other (Includes Not Applicable.. Unknown)', 'Black', 'White',
       'Unknown (Includes Not Applicable.. Unknown)', 'American Indian',
       'Unknown', 'Asian or Pacific Islander',
       'American Indian Or Alaskan Native'], dtype=object)

In [10]:
repldat = {'Black(Non-Hispanic)':"Black (Non-Hispanic)", 
           'Hispanic':"Hispanic", 
           'White Caucasian(Non-Hispanic)':"White (Non-Hispanic)",
           'MISSING':"Missing/Other/Unknown", 
           'Asian Or Pacific Islander':"Asian or Pacific Islander", 
           'Black (Non-Hispanic)':"Black (Non-Hispanic)",
           'White Caucasian (Non-Hispanic)':"White (Non-Hispanic)",
           'Other(Includes Not Applicable.. Unknown)':"Missing/Other/Unknown",
           'Other (Includes Not Applicable.. Unknown)':"Missing/Other/Unknown", 
           'Black':"Black (Non-Hispanic)", 
           'White':"White (Non-Hispanic)",
           'Unknown (Includes Not Applicable.. Unknown)':"Missing/Other/Unknown", 
           'American Indian':"American Indian or Alaskan Native",
           'Unknown':"Missing/Other/Unknown", 
           'Asian or Pacific Islander':"Asian or Pacific Islander",
           'American Indian Or Alaskan Native':"American Indian or Alaskan Native"}

In [11]:
data["Race"] = data["Race"].replace(repldat)

In [12]:
data["Race"].value_counts()

Race
White (Non-Hispanic)                 159627
Black (Non-Hispanic)                 115627
Hispanic                               9319
Missing/Other/Unknown                  5928
Asian or Pacific Islander              2794
American Indian or Alaskan Native       303
Name: count, dtype: int64

In [13]:
df = data

In [14]:
df["disposition"].value_counts()

disposition
Conviction            188521
Dismissed             103867
Deferral Dismissal      1210
Name: count, dtype: int64

In [15]:
df_convict = df.query("disposition == 'Conviction'")

In [16]:
df_convict.shape

(188521, 28)

In [30]:
cases_convict_race = df_convict.groupby(["CodeSection","Race"]).size().reset_index()

In [31]:
cases_convict_race

        CodeSection                  Race    0
0           01-2007  White (Non-Hispanic)    1
1                 1  Black (Non-Hispanic)    3
2                 1  White (Non-Hispanic)    1
3              1-12  Black (Non-Hispanic)   27
4              1-12  White (Non-Hispanic)    6
...             ...                   ...  ...
4885      Z.18.2-91              Hispanic    2
4886      Z.18.2-91  White (Non-Hispanic)  123
4887  Z.18.2-91; 26  Black (Non-Hispanic)    1
4888      Z.18.2-95  Black (Non-Hispanic)    2
4889       Z18.2-47  Black (Non-Hispanic)    1

[4890 rows x 3 columns]

In [32]:
cases_convict_race = cases_convict_race.rename({0:"count"}, axis=1)

In [33]:
cases_convict_race.replace(np.nan, 0)

        CodeSection                  Race  count
0           01-2007  White (Non-Hispanic)      1
1                 1  Black (Non-Hispanic)      3
2                 1  White (Non-Hispanic)      1
3              1-12  Black (Non-Hispanic)     27
4              1-12  White (Non-Hispanic)      6
...             ...                   ...    ...
4885      Z.18.2-91              Hispanic      2
4886      Z.18.2-91  White (Non-Hispanic)    123
4887  Z.18.2-91; 26  Black (Non-Hispanic)      1
4888      Z.18.2-95  Black (Non-Hispanic)      2
4889       Z18.2-47  Black (Non-Hispanic)      1

[4890 rows x 3 columns]

In [34]:
## index: a list of columns we want to be the primary key after reshaping is done
## columns: the current feature which contains the names of the columns we want to create
## values: current column with the values are we're going to use
cases_convict_race = pd.pivot_table(
    cases_convict_race,
    index = ["CodeSection"],
    columns = ["Race"],
    values = ["count"],
    fill_value=0).reset_index()

In [35]:
cases_convict_race

        CodeSection                             count  \
Race                American Indian or Alaskan Native
0           01-2007                                 0
1                 1                                 0
2              1-12                                 0
3             1-200                                 0
4              1.21                                 0
...             ...                               ...
3105      Z.18.2-90                                 0
3106      Z.18.2-91                                 0
3107  Z.18.2-91; 26                                 0
3108      Z.18.2-95                                 0
3109       Z18.2-47                                 0

                                                              \
Race Asian or Pacific Islander Black (Non-Hispanic) Hispanic
0                            0                    0        0
1                            0                    3        0
2                            0                   27        0
3                            0                    7        0
4                            0                    0        0
...                        ...                  ...      ...
3105                         0                    4        0
3106                         2                   95        2
3107                         0                    1        0
3108                         0                    2        0
3109                         0                    1        0


Race Missing/Other/Unknown White (Non-Hispanic)
0                        0                    1
1                        0                    1
2                        0                    6
3                        0                    3
4                        0                    1
...                    ...                  ...
3105                     1                    3
3106                     0                  123
3107                     0                    0
3108                     0                    0
3109                     0                    0

[3110 rows x 7 columns]

In [38]:
cases_convict_race.columns = ["CodeSection", "AIAN", "API", "Black",
                             "Hisp", "Unknown", "White"]
cases_convict_race.columns

Index(['CodeSection', 'AIAN', 'API', 'Black', 'Hisp', 'Unknown', 'White'], dtype='object')

In [42]:
cases_convict_race["total_conviction"] = cases_convict_race["CodeSection"] + cases_convict_race["AIAN"] + cases_convict_race["API"] + cases_convict_race["Black"] + cases_convict_race["Hisp"] + cases_convict_race["Unknown"] +  cases_convict_race["White"]

TypeError: can only concatenate str (not "int") to str