In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/datasets")

In [3]:
data = pd.read_csv("data100k.csv")

In [4]:
data.head(2).T

,0,1
person_id,102090000000110,343221000000125
HearingDate,2019-02-28,2009-12-07
CodeSection,A.46.2-862,B.46.2-301
codesection,covered elsewhere,covered elsewhere
ChargeType,Misdemeanor,Misdemeanor
chargetype,Misdemeanor,Misdemeanor
Class,1,1
DispositionCode,Guilty,Guilty
disposition,Conviction,Conviction
Plea,NaN,NaN
Race,Black(Non-Hispanic),Black(Non-Hispanic)
Sex,Male,Female
fips,25,540
convictions,True,True
arrests,False,False
felony10,False,False
sevenyear,False,True
tenyear,False,True
within7,True,False
within10,True,False
class1_2,False,False
class3_4,False,False
expungable,Automatic (pending),Not eligible
old_expungable,False,False
expungable_no_lifetimelimit,Automatic (pending),Not eligible
reason,Conviction of misdemeanor charges listed in 19...,Conviction of misdemeanor charges that are not...
sameday,False,False
lifetime,False,False

In [5]:
data["Race"].value_counts()

Race
White Caucasian(Non-Hispanic)                  114421
Black(Non-Hispanic)                             80173
White Caucasian (Non-Hispanic)                  41679
Black (Non-Hispanic)                            33254
Hispanic                                         9319
White                                            3527
Other(Includes Not Applicable.. Unknown)         3452
Asian Or Pacific Islander                        2787
Black                                            2200
MISSING                                          1022
Unknown (Includes Not Applicable.. Unknown)       785
Other (Includes Not Applicable.. Unknown)         615
American Indian                                   302
Unknown                                            54
Asian or Pacific Islander                           7
American Indian Or Alaskan Native                   1
Name: count, dtype: int64

In [6]:
data["Race"].unique()

array(['Black(Non-Hispanic)', 'Hispanic', 'White Caucasian(Non-Hispanic)',
       'MISSING', 'Asian Or Pacific Islander', 'Black (Non-Hispanic)',
       'White Caucasian (Non-Hispanic)',
       'Other(Includes Not Applicable.. Unknown)',
       'Other (Includes Not Applicable.. Unknown)', 'Black', 'White',
       'Unknown (Includes Not Applicable.. Unknown)', 'American Indian',
       'Unknown', 'Asian or Pacific Islander',
       'American Indian Or Alaskan Native'], dtype=object)

In [7]:
repldat = {'Black(Non-Hispanic)':"Black (Non-Hispanic)", 
           'Hispanic':"Hispanic", 
           'White Caucasian(Non-Hispanic)':"White (Non-Hispanic)",
           'MISSING':"Missing/Other/Unknown", 
           'Asian Or Pacific Islander':"Asian or Pacific Islander", 
           'Black (Non-Hispanic)':"Black (Non-Hispanic)",
           'White Caucasian (Non-Hispanic)':"White (Non-Hispanic)",
           'Other(Includes Not Applicable.. Unknown)':"Missing/Other/Unknown",
           'Other (Includes Not Applicable.. Unknown)':"Missing/Other/Unknown", 
           'Black':"Black (Non-Hispanic)", 
           'White':"White (Non-Hispanic)",
           'Unknown (Includes Not Applicable.. Unknown)':"Missing/Other/Unknown", 
           'American Indian':"American Indian or Alaskan Native",
           'Unknown':"Missing/Other/Unknown", 
           'Asian or Pacific Islander':"Asian or Pacific Islander",
           'American Indian Or Alaskan Native':"American Indian or Alaskan Native"}

In [8]:
data["Race"] = data["Race"].replace(repldat)

In [9]:
data["Race"].value_counts()

Race
White (Non-Hispanic)                 159627
Black (Non-Hispanic)                 115627
Hispanic                               9319
Missing/Other/Unknown                  5928
Asian or Pacific Islander              2794
American Indian or Alaskan Native       303
Name: count, dtype: int64

In [10]:
df = data

In [11]:
df["disposition"].value_counts()

disposition
Conviction            188521
Dismissed             103867
Deferral Dismissal      1210
Name: count, dtype: int64

In [12]:
df_convict = df.query("disposition == 'Conviction'")

In [13]:
df_convict.shape

(188521, 28)

In [14]:
cases_convict_race = df_convict.groupby(["CodeSection","Race", "fips"]).size().reset_index()

In [15]:
cases_convict_race

         CodeSection                  Race  fips   0
0            01-2007  White (Non-Hispanic)    51   1
1                  1  Black (Non-Hispanic)   550   3
2                  1  White (Non-Hispanic)   550   1
3               1-12  Black (Non-Hispanic)   650  27
4               1-12  White (Non-Hispanic)   650   6
...              ...                   ...   ...  ..
27500      Z.18.2-91  White (Non-Hispanic)   840   2
27501  Z.18.2-91; 26  Black (Non-Hispanic)   700   1
27502      Z.18.2-95  Black (Non-Hispanic)    67   1
27503      Z.18.2-95  Black (Non-Hispanic)    83   1
27504       Z18.2-47  Black (Non-Hispanic)   730   1

[27505 rows x 4 columns]

In [16]:
cases_convict_race = cases_convict_race.rename({0:"count"}, axis=1)

In [17]:
cases_convict_race.replace(np.nan, 0)

         CodeSection                  Race  fips  count
0            01-2007  White (Non-Hispanic)    51      1
1                  1  Black (Non-Hispanic)   550      3
2                  1  White (Non-Hispanic)   550      1
3               1-12  Black (Non-Hispanic)   650     27
4               1-12  White (Non-Hispanic)   650      6
...              ...                   ...   ...    ...
27500      Z.18.2-91  White (Non-Hispanic)   840      2
27501  Z.18.2-91; 26  Black (Non-Hispanic)   700      1
27502      Z.18.2-95  Black (Non-Hispanic)    67      1
27503      Z.18.2-95  Black (Non-Hispanic)    83      1
27504       Z18.2-47  Black (Non-Hispanic)   730      1

[27505 rows x 4 columns]

In [18]:
## index: a list of columns we want to be the primary key after reshaping is done
## columns: the current feature which contains the names of the columns we want to create
## values: current column with the values are we're going to use
cases_convict_race = pd.pivot_table(
    cases_convict_race,
    index = ["CodeSection", "fips"],
    columns = ["Race"],
    values = ["count"],
    fill_value=0).reset_index()

In [19]:
cases_convict_race

         CodeSection fips                             count  \
Race                      American Indian or Alaskan Native
0            01-2007   51                                 0
1                  1  550                                 0
2               1-12  650                                 0
3              1-200   29                                 0
4              1-200  105                                 0
...              ...  ...                               ...
18700      Z.18.2-91  840                                 0
18701  Z.18.2-91; 26  700                                 0
18702      Z.18.2-95   67                                 0
18703      Z.18.2-95   83                                 0
18704       Z18.2-47  730                                 0

                                                               \
Race  Asian or Pacific Islander Black (Non-Hispanic) Hispanic
0                             0                    0        0
1                             0                    3        0
2                             0                   27        0
3                             0                    1        0
4                             0                    0        0
...                         ...                  ...      ...
18700                         0                    0        0
18701                         0                    1        0
18702                         0                    1        0
18703                         0                    1        0
18704                         0                    1        0


Race  Missing/Other/Unknown White (Non-Hispanic)
0                         0                    1
1                         0                    1
2                         0                    6
3                         0                    0
4                         0                    1
...                     ...                  ...
18700                     0                    2
18701                     0                    0
18702                     0                    0
18703                     0                    0
18704                     0                    0

[18705 rows x 8 columns]

In [20]:
cases_convict_race.columns = ["CodeSection", "fips", "AIAN", "API", "Black",
                             "Hisp", "Unknown", "White"]
cases_convict_race.columns

Index(['CodeSection', 'fips', 'AIAN', 'API', 'Black', 'Hisp', 'Unknown',
       'White'],
      dtype='object')

In [21]:
cases_convict_race["total_conviction"] = cases_convict_race["AIAN"] + \
cases_convict_race["API"] + \
cases_convict_race["Black"] + \
cases_convict_race["Hisp"] + \
cases_convict_race["Unknown"] + \
cases_convict_race["White"]

In [22]:
cases_convict_race = cases_convict_race.query("total_conviction > 10")
cases_convict_race["asian_perc"] = cases_convict_race["AIAN"]*100/cases_convict_race["total_conviction"]
cases_convict_race["api_perc"] = cases_convict_race["API"]*100/cases_convict_race["total_conviction"]
cases_convict_race["black_perc"] = cases_convict_race["Black"]*100/cases_convict_race["total_conviction"]
cases_convict_race["hisp_perc"] = cases_convict_race["Hisp"]*100/cases_convict_race["total_conviction"]
cases_convict_race["unknown_perc"] = cases_convict_race["Unknown"]*100/cases_convict_race["total_conviction"]
cases_convict_race["white_perc"] = cases_convict_race["White"]*100/cases_convict_race["total_conviction"]

C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\1302904704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["asian_perc"] = cases_convict_race["AIAN"]*100/cases_convict_race["total_conviction"]
C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\1302904704.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["api_perc"] = cases_convict_race["API"]*100/cases_convict_race["total_conviction"]
C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\1302904704.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["black_perc"] = cases_convict_race["Black"]*100/cases_convict_race["total_conviction"]
C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\1302904704.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["hisp_perc"] = cases_convict_race["Hisp"]*100/cases_convict_race["total_conviction"]
C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\1302904704.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["unknown_perc"] = cases_convict_race["Unknown"]*100/cases_convict_race["total_conviction"]
C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\1302904704.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["white_perc"] = cases_convict_race["White"]*100/cases_convict_race["total_conviction"]

In [23]:
cases_convict_race

,CodeSection,fips,AIAN,API,Black,Hisp,Unknown,White,total_conviction,asian_perc,api_perc,black_perc,hisp_perc,unknown_perc,white_perc
2,1-12,650,0,0,27,0,0,6,33,0.0,0.000000,81.818182,0.000000,0.000000,18.181818
22,10-172,761,0,0,9,0,0,2,11,0.0,0.000000,81.818182,0.000000,0.000000,18.181818
29,10-2,730,0,0,16,0,0,3,19,0.0,0.000000,84.210526,0.000000,0.000000,15.789474
36,10-256,800,0,0,10,0,0,4,14,0.0,0.000000,71.428571,0.000000,0.000000,28.571429
55,10-42,550,0,0,8,0,0,17,25,0.0,0.000000,32.000000,0.000000,0.000000,68.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18572,NO DMV,810,0,1,19,1,1,21,43,0.0,2.325581,44.186047,2.325581,2.325581,48.837209
18582,NODMV,810,0,0,5,0,0,6,11,0.0,0.000000,45.454545,0.000000,0.000000,54.545455
18692,Z.18.2-91,710,0,0,11,0,0,3,14,0.0,0.000000,78.571429,0.000000,0.000000,21.428571
18696,Z.18.2-91,760,0,0,8,0,0,3,11,0.0,0.000000,72.727273,0.000000,0.000000,27.272727
18698,Z.18.2-91,810,0,1,13,0,0,23,37,0.0,2.702703,35.135135,0.000000,0.000000,62.162162

## Live Code 9

In [24]:
url_race = "https://demographics.coopercenter.org/sites/demographics/files/media/files/2020-07/Census_2019_RaceEstimates_forVA_0.xls"
url_hisp = "https://demographics.coopercenter.org/sites/demographics/files/media/files/2020-07/Census_2019_HispanicEstimates_forVA_0.xls"

In [25]:
race_pop = pd.read_excel(url_race, skiprows = [0,1,2,3,5,6,7])
race_pop = race_pop[["FIPS", "Jurisdiction", "Total Population",
                     "White Alone", "African American Alone", "Asian Alone",
                     "Other Races Alone", "Two or more races"]]
race_pop.rename({"FIPS":"fips", 
                 "Jurisdiction":"locality", 
                 "Total Population":"total_pop",  
                 "White Alone":"white_pop", 
                 "African American Alone":"black_pop", 
                 "Asian Alone":"asian_pop",
                 "Other Races Alone":"other_pop", 
                 "Two or more races":"two_pop"}, axis=1, inplace=True)
race_pop.head(10)

,fips,locality,total_pop,white_pop,black_pop,asian_pop,other_pop,two_pop
0,1,Accomack County,32316,21899,9304,257,293,563
1,3,Albemarle County,109330,89388,10600,6051,483,2808
2,5,Alleghany County,14860,13783,698,46,56,277
3,7,Amelia County,13145,10050,2688,80,85,242
4,9,Amherst County,31605,24299,6041,180,305,780
5,11,Appomattox County,15911,12521,2951,61,56,322
6,13,Arlington County,236842,177639,22922,25945,1840,8496
7,15,Augusta County,75558,70102,3518,490,223,1225
8,17,Bath County,4147,3853,201,20,9,64
9,19,Bedford County,78997,70750,5697,975,299,1276

In [26]:
hisp_pop = pd.read_excel(url_hisp, skiprows=[0,1,2,3,5,6,7,8,9])
hisp_pop = hisp_pop[["FIPS", "Unnamed: 6"]]
hisp_pop.rename({"FIPS":"fips",
                "Unnamed: 6":"hisp_pop"},
               axis=1, inplace=True)
hisp_pop.head(10)

   fips  hisp_pop
0     1      2955
1     3      6313
2     5       238
3     7       418
4     9       767
5    11       300
6    13     36951
7    15      2374
8    17        91
9    19      1870

In [27]:
race_hisp_pop = pd.merge(race_pop, hisp_pop,
                        on="fips",
                        how="outer",
                        validate="one_to_one",
                        indicator="matched")
## many_to_one or one_to_many is also valid

In [28]:
race_hisp_pop.head()

,fips,locality,total_pop,white_pop,black_pop,asian_pop,other_pop,two_pop,hisp_pop,matched
0,1,Accomack County,32316,21899,9304,257,293,563,2955,both
1,3,Albemarle County,109330,89388,10600,6051,483,2808,6313,both
2,5,Alleghany County,14860,13783,698,46,56,277,238,both
3,7,Amelia County,13145,10050,2688,80,85,242,418,both
4,9,Amherst County,31605,24299,6041,180,305,780,767,both

In [29]:
race_hisp_pop["matched"].value_counts()

matched
both          133
left_only       0
right_only      0
Name: count, dtype: int64

In [30]:
race_hisp_pop = pd.merge(race_pop, hisp_pop,
                        on="fips",
                        how="inner")

In [31]:
race_hisp_pop.head()

,fips,locality,total_pop,white_pop,black_pop,asian_pop,other_pop,two_pop,hisp_pop
0,1,Accomack County,32316,21899,9304,257,293,563,2955
1,3,Albemarle County,109330,89388,10600,6051,483,2808,6313
2,5,Alleghany County,14860,13783,698,46,56,277,238
3,7,Amelia County,13145,10050,2688,80,85,242,418
4,9,Amherst County,31605,24299,6041,180,305,780,767

In [32]:
cases_pop = pd.merge(cases_convict_race, race_hisp_pop,
             on="fips",
             how="outer",
             validate="many_to_one",
             indicator="matched")

In [33]:
cases_pop["matched"].value_counts()

matched
both          2435
left_only      161
right_only      13
Name: count, dtype: int64

In [34]:
cases_pop.query("matched=='left_only'")["fips"].unique()
## fips code in the case data not found in census data

array([761, 711, 701, 764, 762, 712, 702, 122], dtype=int64)

In [35]:
cases_convict_race["fips"] = cases_convict_race["fips"].replace([761, 711, 701, 764, 762, 712, 702, 122, 763],
                                                                [760, 710, 700, 760, 760, 710, 700, 121, 763])

C:\Users\jacqu\AppData\Local\Temp\ipykernel_19892\476751494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_convict_race["fips"] = cases_convict_race["fips"].replace([761, 711, 701, 764, 762, 712, 702, 122, 763],

In [37]:
cases_pop.query("matched=='right_only'")["fips"].unique()

array([ 17,  45,  91,  95, 115, 181, 580, 660, 678, 683, 685, 720, 735],
      dtype=int64)

In [38]:
cases_pop = pd.merge(cases_convict_race, race_hisp_pop,
             on="fips",
             how="inner")

In [39]:
cases_pop.head()

,CodeSection,fips,AIAN,API,Black,Hisp,Unknown,White,total_conviction,asian_perc,...,unknown_perc,white_perc,locality,total_pop,white_pop,black_pop,asian_pop,other_pop,two_pop,hisp_pop
0,1-12,650,0,0,27,0,0,6,33,0.0,...,0.000000,18.181818,Hampton city,134510,55478,68976,3282,1010,5764,8368
1,18.2-103,650,0,1,91,0,0,36,128,0.0,...,0.000000,28.125000,Hampton city,134510,55478,68976,3282,1010,5764,8368
2,18.2-108,650,0,0,9,0,1,2,12,0.0,...,8.333333,16.666667,Hampton city,134510,55478,68976,3282,1010,5764,8368
3,18.2-111,650,0,0,10,0,0,10,20,0.0,...,0.000000,50.000000,Hampton city,134510,55478,68976,3282,1010,5764,8368
4,18.2-172,650,0,0,10,0,0,4,14,0.0,...,0.000000,28.571429,Hampton city,134510,55478,68976,3282,1010,5764,8368

In [40]:
cases_pop["disp_white"] = cases_pop["white_perc"]/(cases_pop["white_pop"]/cases_pop["total_pop"])
cases_pop["disp_black"] = cases_pop["black_perc"]/(cases_pop["black_pop"]/cases_pop["total_pop"])
cases_pop["disp_asian"] = cases_pop["asian_perc"]/(cases_pop["asian_pop"]/cases_pop["total_pop"])
cases_pop["disp_hisp"] = cases_pop["hisp_perc"]/(cases_pop["hisp_pop"]/cases_pop["total_pop"])

In [47]:
cases_pop.sort_values("disp_hisp", ascending=False).reset_index().loc[6,]

index                           2380
CodeSection                 46.2-300
fips                              75
AIAN                               0
API                                0
Black                              6
Hisp                              19
Unknown                            1
White                              7
total_conviction                  33
asian_perc                       0.0
api_perc                         0.0
black_perc                 18.181818
hisp_perc                  57.575758
unknown_perc                3.030303
white_perc                 21.212121
locality            Goochland County
total_pop                      23753
white_pop                      19106
black_pop                       3743
asian_pop                        409
other_pop                         95
two_pop                          400
hisp_pop                         735
disp_white                 26.371376
disp_black                115.381439
disp_asian                       0.0
disp_hisp                1860.676149
Name: 6, dtype: object

In [48]:
cases_pop_nodrive = cases_pop[['46.2' not in str(x) for x in cases_pop["CodeSection"]]]

In [50]:
cases_pop_nodrive.sort_values("disp_hisp", ascending=False).reset_index().loc[0,]

index                           2197
CodeSection                 18.2-248
fips                               5
AIAN                               0
API                                0
Black                              1
Hisp                               4
Unknown                            0
White                             11
total_conviction                  16
asian_perc                       0.0
api_perc                         0.0
black_perc                      6.25
hisp_perc                       25.0
unknown_perc                     0.0
white_perc                     68.75
locality            Alleghany County
total_pop                      14860
white_pop                      13783
black_pop                        698
asian_pop                         46
other_pop                         56
two_pop                          277
hisp_pop                         238
disp_white                 74.122107
disp_black                133.058739
disp_asian                       0.0
disp_hisp                 1560.92437
Name: 0, dtype: object