In [36]:
import numpy as np
import pandas as pd
# import psycopg2
from sqlalchemy import create_engine
import dotenv
import os
import sqlite3
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/datasets")

In [37]:
nba = pd.read_csv('ASA All NBA Raw Data.csv')

C:\Users\jacqu\AppData\Local\Temp\ipykernel_10800\2306477363.py:1: DtypeWarning: Columns (68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  nba = pd.read_csv('ASA All NBA Raw Data.csv')

In [38]:
pd.set_option("display.max_rows", 8)
## 8 = number of rows
nba.head(5).T
## game_id: YYYYMMDD0Team

,0,1,2,3,4
game_id,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK
game_date,2022-02-17,2022-02-17,2022-02-17,2022-02-17,2022-02-17
OT,0,0,0,0,0
H_A,A,A,A,A,A
...,...,...,...,...,...
SF%,60.0,4.0,67.0,0.0,0.0
PF%,4.0,85.0,0.0,0.0,0.0
C%,0.0,11.0,0.0,0.0,100.0
active_position_minutes,46.253586,52.15259,47.021807,27.603314,36.472537

## Database Normalization
### First normal form:

1. **All tables must have a primary key**: In this table, `game_id` and `player_id` together are unique on every row, and so they form primary key.

2. **All the data must be atomic**: Inactives is non-atomic.

3. **No repeating groups problem**: We can't solve the non-atomicity problem by creating separate columns if this leads to arbitrary ordering language in the column names (for example, `Inactive1`, `Inactive2`, etc.) and if it leads to a lot of missing data (there would be an `Inactive7` which would be missing any time a team has less than 7 inactive players).

In [39]:
## primary key = a column or group of columns together that are different on every row
## example, game_id by itself is not a primary key because there are repeating rows
## but game_id and player_id together are unique

## atomic = one datapt per cell (no list, no dicts, inside a cell)
## example, inactives is non-atomic because there are several datapts inside one cell

## drop inactives, axis=1 is drop columns, axis=0 is drop rows
nba = nba.drop(["Inactives"], axis=1)

### Functional Dependence
Let X and Y be columns in a data table. Y is functionally dependent on X if each value of X has exactly one value of Y.

That's pretty abstract. So here are some guidelines that help me:

1. This use of "function" is the exact same as the concept of a function from algebra and pre-calculus. A correspondence f(x)=y is a function if each value of x has only one associated value of y.

2. X is either a primary key, or something that should be a primary key in another table.

For example, `game_date` (Y) is functionally dependent on `game_id` (X) because one `game_id` takes place on exactly one date.

### Second normal form:
In this table the primary key is a superkey consisting of two columns: `game_id` and `player_id`. 

2NF is violated if any columns are functionally dependent on part of the primary key but not the entire primary key. This can only happen if the primary key is a superkey.

In [40]:
## functionally dependent
## "function": each x only maps to one y ==> but many different x's can map to one y
## game_id is x, game_day is y ==> one game only happens on one day, but many games can happen on one day

## second rule: 
## if we got columsn that depend on the game_id but not the Game_day, the second rule is violated

## game_id and player_id: primary key, so what columns only depend on one of these columns but not both?
## game_date (depends on game_id, not player_id), season
## player_name (depends on player_id, not game_id)

## two ways to solve this:
## 1. replace game_id and player_id and append them together ==> solves SNF because it's not a superkey, it's just one column
## this will screw up TNF tho hehe
## 2. create different tables for each sub key within superkey
## ex. one table for game_id where the columns are all the variables that are only dependent on game_id 

## select columns ==> list of columns
games = nba[["game_id", "game_date", "OT", "season"]].drop_duplicates()
games

             game_id   game_date  OT  season
0       202202170BRK  2022-02-17   0    2022
26      202202170CHO  2022-02-17   2    2022
48      202202170LAC  2022-02-17   0    2022
71      202202170MIL  2022-02-17   0    2022
...              ...         ...  ..     ...
108887  202008020HOU  2020-08-02   0    2020
109683  201911060HOU  2019-11-06   0    2020
110125  201912250GSW  2019-12-25   0    2020
110643  202002200GSW  2020-02-20   0    2020

[3197 rows x 4 columns]

In [41]:
players = nba[["player_id", "player"]].drop_duplicates()
players

        player_id                    player
0       kispeco01             Corey Kispert
1       kuzmaky01                Kyle Kuzma
2       caldwke01  Kentavious Caldwell-Pope
3        netora01                 Raul Neto
...           ...                       ...
110441  howarwi01            William Howard
110913  mbahalu01          Luc Mbah a Moute
111399  bowmaky01                 Ky Bowman
112021  pargoje01              Jeremy Pargo

[812 rows x 2 columns]

In [42]:
nba = nba.drop(["game_date", "OT", "season", "player"], axis=1)
nba

,game_id,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg,...,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,PG%,SG%,SF%,PF%,C%,active_position_minutes
0,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,...,0.061538,9.00,31.716667,22.017778,1.0,36.0,60.0,4.0,0.0,46.253586
1,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,...,0.099119,7.44,34.324000,18.475954,0.0,0.0,4.0,85.0,11.0,52.152590
2,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,...,0.000000,7.00,29.820290,16.051693,0.0,32.0,67.0,0.0,0.0,47.021807
3,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,...,0.048387,7.88,29.920833,14.603922,90.0,10.0,0.0,0.0,0.0,27.603314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112119,202003070GSW,H,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,...,0.036079,6.00,25.470833,20.228571,5.0,45.0,43.0,7.0,0.0,58.202391
112120,202003070GSW,H,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,...,0.150943,4.00,24.083333,13.228788,0.0,0.0,0.0,9.0,91.0,49.630640
112121,202003070GSW,H,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,...,0.094340,12.64,34.783333,27.691667,0.0,44.0,48.0,8.0,0.0,58.923515
112122,202003070GSW,H,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,...,0.000000,2.76,10.415645,6.050000,81.0,19.0,0.0,0.0,0.0,45.958787

### Third normal form:
3NF is violated if there are "transitive dependencies", that is, functional dependence between columns when neither column is part of the primary key.

In [43]:
nba.head(5).T

,0,1,2,3,4
game_id,202202170BRK,202202170BRK,202202170BRK,202202170BRK,202202170BRK
H_A,A,A,A,A,A
Team_Abbrev,WAS,WAS,WAS,WAS,WAS
Team_Score,117,117,117,117,117
...,...,...,...,...,...
SF%,60.0,4.0,67.0,0.0,0.0
PF%,4.0,85.0,0.0,0.0,0.0
C%,0.0,11.0,0.0,0.0,100.0
active_position_minutes,46.253586,52.15259,47.021807,27.603314,36.472537

In [51]:
## looking for variables that are not dependent on game_id and player_id
## aka variables that are dependent on other variables, but not game_id and player_id
## because you can construct these columns in the future

## game_id and team_abbrev influence the team_score and stuff like that == trans dependencies

## we don't need columns about the opponents (except for the opponent abbrev) because we can always map it to another column
## ex: for was vs. brk, there will be columns with brk vs. was, so we just need to keep one

## take dall these team things and opponent abbrev and make a new table with them

team_features = ["game_id", "Team_Abbrev", "Team_Score", "Team_pace", 
                 "Team_efg_pct", "Team_tov_pct", "Team_orb_pct", "Team_ft_rate", 
                 "Team_off_rtg", "Opponent_Abbrev"]
team_game = nba[team_features].drop_duplicates()
team_game

,game_id,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,202202170BRK,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK
13,202202170BRK,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS
26,202202170CHO,MIA,111,88.8,0.471,11.1,26.8,0.147,103.4,CHO
37,202202170CHO,CHO,107,88.8,0.453,13.6,28.1,0.221,99.7,MIA
...,...,...,...,...,...,...,...,...,...,...
112079,202002290PHO,GSW,115,98.6,0.523,9.0,28.9,0.276,116.6,PHO
112090,202003010GSW,GSW,110,100.2,0.522,17.4,38.3,0.191,109.8,WAS
112101,202003030DEN,GSW,116,94.4,0.622,10.7,12.8,0.171,122.9,DEN
112112,202003070GSW,GSW,118,90.9,0.606,7.0,18.9,0.263,129.9,PHI

## not dropping game_id or Team_Abbrev because we need those to map to the other tables
player_game = nba.drop(["Team_Score", "Team_pace", 
                 "Team_efg_pct", "Team_tov_pct", "Team_orb_pct", "Team_ft_rate", 
                 "Team_off_rtg","H_A"]+list(nba.columns[nba.columns.str.startswith("Opponent")]), axis=1)
player_game

In [52]:
list(nba.columns[nba.columns.str.startswith("Opponent")])

['Opponent_Abbrev',
 'Opponent_Score',
 'Opponent_pace',
 'Opponent_efg_pct',
 'Opponent_tov_pct',
 'Opponent_orb_pct',
 'Opponent_ft_rate',
 'Opponent_off_rtg']

In [46]:
## dfs are team_game and player_game

In [53]:
games.columns

Index(['game_id', 'game_date', 'OT', 'season'], dtype='object')

In [48]:
player_game.columns

NameError: name 'player_game' is not defined

In [49]:
players.columns

Index(['player_id', 'player'], dtype='object')

In [50]:
players.dtypes

player_id    object
player       object
dtype: object

In [35]:
team_game.dtypes

game_id             object
Team_Abbrev         object
Team_Score           int64
Team_pace          float64
                    ...
Team_orb_pct       float64
Team_ft_rate       float64
Team_off_rtg       float64
Opponent_Abbrev     object
Length: 10, dtype: object

In [36]:
player_game.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112123 entries, 0 to 112122
Data columns (total 61 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   game_id                            112123 non-null  object
 1   H_A                                112123 non-null  object
 2   Team_Abbrev                        112123 non-null  object
 3   player_id                          112123 non-null  object
 4   starter                            112123 non-null  int64
 5   mp                                 112123 non-null  object
 6   fg                                 112123 non-null  int64
 7   fga                                112123 non-null  int64
 8   fg_pct                             112123 non-null  float64
 9   fg3                                112123 non-null  int64
 10  fg3a                               112123 non-null  int64
 11  fg3_pct                            112123 non-null  float64
 12  ft                                 112123 non-null  int64
 13  fta                                112123 non-null  int64
 14  ft_pct                             112123 non-null  float64
 15  orb                                112123 non-null  int64
 16  drb                                112123 non-null  int64
 17  trb                                112123 non-null  int64
 18  ast                                112123 non-null  int64
 19  stl                                112123 non-null  int64
 20  blk                                112123 non-null  int64
 21  tov                                112123 non-null  int64
 22  pf                                 112123 non-null  int64
 23  pts                                112123 non-null  int64
 24  plus_minus                         112123 non-null  int64
 25  did_not_play                       112123 non-null  int64
 26  is_inactive                        112123 non-null  int64
 27  ts_pct                             112123 non-null  float64
 28  efg_pct                            112123 non-null  float64
 29  fg3a_per_fga_pct                   112123 non-null  float64
 30  fta_per_fga_pct                    112123 non-null  float64
 31  orb_pct                            112123 non-null  float64
 32  drb_pct                            112123 non-null  float64
 33  trb_pct                            112123 non-null  float64
 34  ast_pct                            112123 non-null  float64
 35  stl_pct                            112123 non-null  float64
 36  blk_pct                            112123 non-null  float64
 37  tov_pct                            112123 non-null  float64
 38  usg_pct                            112123 non-null  float64
 39  off_rtg                            112123 non-null  int64
 40  def_rtg                            112123 non-null  int64
 41  bpm                                112123 non-null  float64
 42  minutes                            112123 non-null  float64
 43  double_double                      112123 non-null  int64
 44  triple_double                      112123 non-null  int64
 45  DKP                                112123 non-null  float64
 46  FDP                                112123 non-null  float64
 47  SDP                                112123 non-null  float64
 48  DKP_per_minute                     92725 non-null   object
 49  FDP_per_minute                     92725 non-null   object
 50  SDP_per_minute                     92725 non-null   object
 51  pf_per_minute                      92724 non-null   float64
 52  ts                                 112123 non-null  float64
 53  last_60_minutes_per_game_starting  109403 non-null  float64
 54  last_60_minutes_per_game_bench     109403 non-null  float64
 55  PG%                                111976 non-null  float64
 56  SG%                                111976 non-null  float64
 57  SF%                                111976 non-null  float64
 58  PF%                                111976 non-null  float64
 59  C%                                 111976 non-null  float64
 60  active_position_minutes            97003 non-null   float64
dtypes: float64(30), int64(23), object(8)
memory usage: 52.2+ MB

Project NBADataBase {
  database_type: 'PostgreSQL'
  Note: '''
    # NBA Database for the 2019-2020, 2020-2021, and 2021-2022 seasons
    **Created 7-18-2023 for DS 6001 @UVA**
  '''
}
Table games as G {
  game_id varchar [pk]
  game_date timestamp
  OT int
  season int
  note: "table 'games' contains info about each game, not dependent on any player or team"
}

Table players as P {
  player_id varchar [pk]
  player varchar
  note: "table 'players' contains info about each player, not dependent on any game or team"
}
Table team_game as TG {
  game_id varchar [pk]
  Team_Abbrev carchar [pk]
  H_A varchar 
  Team_Score int
  Team_efg_pct float
  Team_pace float  
  Team_orb_pct float
  Team_ft_rate float
  Team_off_rtg float
  Opponent_Abbrev varchar
}

Table player_game as PG {
  game_id varchar [pk]
  player_id varchar [pk]
  Team_Abbrev varchar
  starter int  
  mp varchar
  fg int  
  fga int  
  fg_pct float
  fg3 int  
  fg3a int  
  fg3_pct float
  ft int  
  fta int  
  ft_pct float
  orb int  
  drb int  
  trb int  
  ast int  
  stl int  
  blk int  
  tov int  
  pf int  
  pts int  
  plus_minus int  
  did_not_play int  
  is_inactive int  
  ts_pct float
  efg_pct float
  fg3a_per_fga_pct float
  fta_per_fga_pct float
  orb_pct float
  drb_pct float
  trb_pct float
  ast_pct float
  stl_pct float
  blk_pct float
  tov_pct float
  usg_pct float
  off_rtg int  
  def_rtg int
  bpm float
  minutes float
  double_double int  
  triple_double int  
  DKP float
  FDP float
  SDP float
  DKP_per_minute varchar 
  FDP_per_minute varchar
  SDP_per_minute varchar
  pf_per_minute float
  ts float
  last_60_minutes_per_game_starting float
  last_60_minutes_per_game_bench float
  PG% float
  SG% float
  SF% float
  PF% float
  C% float
  active_position_minutes float
}

Ref: G.game_id < PG.game_id  
Ref: G.game_id < TG.game_id
Ref: PG.player_id > P.player_id
Ref: TG.Team_Abbrev = TG.Opponent_Abbrev

In [3]:
# !pip install psycopg2
# !pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.19-cp310-cp310-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 3.7 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-win_amd64.whl (192 kB)
     -------------------------------------- 192.2/192.2 kB 3.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jacqu\anaconda3\lib\site-packages (from sqlalchemy) (4.6.3)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.19

In [19]:
import psycopg2
from sqlalchemy import create_engine
import os
import dotenv as de

In [20]:
## connect the postgress server
os.chdir("C:/Users/jacqu/OneDrive/Documents/MSDS/env/postgress")
de.load_dotenv()

True

In [24]:
postgress = os.getenv("postgres")

In [27]:
dbserver = psycopg2.connect(user="postgres",
                           password = postgress,
                           host = "localhost")
dbserver.autocommit = True
## when creating postgress, we created a password

In [5]:
import sqlite3

In [7]:
## connect the sqlite db
nbadb = sqlite3.connect("nba.db")

In [28]:
## connect to a sursor and create db
## create a db called xxx or if it already exsists, delete the db and create new one
cursor = dbserver.cursor()
try:
    cursor.execute("CREATE DATABASE nbadb")
except:
    cursor.execute("DROP DATABASE nbadb")
    cursor.execute("CREATE DATABASE nbadb")
## don't need this for sqlite3

In [31]:
## create sqlalchemy engine for the db
create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="postgres", pw=postgress, db="nbadb"))
## don't need this for sqlite3

Engine(postgresql+psycopg2://postgres:***@localhost/nbadb)

In [32]:
## .to_sql() : what you want the table to be called, connection, if we want row numbers or not
## 
players.to_sql("players", con=engine, index=False, chucksize=1000, if_exists="replace")
games.to_sql("games", con=engine, index=False, chucksize=1000, if_exists="replace")
team_game.to_sql("team_game", con=engine, index=False, chucksize=1000, if_exists="replace")
player_game.to_sql("player_game", con=engine, index=False, chucksize=1000, if_exists="replace")

NameError: name 'players' is not defined

In [10]:
## for sqlite3
players.to_sql("players", nbadb, index=False, chucksize=1000, if_exists="replace")
games.to_sql("games", nbadb, index=False, chucksize=1000, if_exists="replace")
team_game.to_sql("team_game", nbadb, index=False, chucksize=1000, if_exists="replace")
player_game.to_sql("player_game", nbadb, index=False, chucksize=1000, if_exists="replace")

NameError: name 'players' is not defined

In [ ]:
myquery = '''
SELECT *
FROM games
WHERE season=2022
'''
pd.read_sql_query(myquery, nbadb)